

body {
    background-color: rgb(206, 236, 238);
    background-image: url ("C:\Users\uni\Desktop\BOOTCAMP\simk2020.Homework2\assets\images\4.jpg") ;
    font-family: font-size: 20px;
}

 .container {
background-color: rgb(169, 231, 236) ;
background-image: url ("assets\images\1.jpg");
height: auto;
margin-top: 50px;
margin-bottom: 50px;
padding : 50px
}

footer {
    padding: 30px;
    clear: both; 
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-align: center;
    font-size: 20px;
}

.nav-item {
    font-size: 22px;
    float: left;
}

.navbar-brand {
    background-color:rgb(127, 230, 238);
    padding: 1.5%;
    margin: 5px; 
}

#navbarNav {
    background-color: rgb(127, 230, 238);
    padding: 1%;
    margin: 5px; 
    float: left;
}

.Linkedin {
    align-self: center;
    size;100%;
}



