
body {
    background-color: rgb(181, 182, 171);
    background-image: url ("C:\Users\uni\Desktop\BOOTCAMP\simk2020.Homework2\assets\images\4.jpg") ;
}

 .container {
background-color: rgb(168, 218, 241) ;
height: auto;
margin-top: 50px;
margin-bottom: 50px;
padding : 50px
}

footer {
    padding: 30px;
    clear: both; 
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-align: center;
    font-size: 20px;
}

/* #navbarNav {
    background-color: rgb(169, 222, 243);
    margin:auto;
}
.navbar-brand {
    background-color: rgb(169, 222, 243);
    padding: 0%;
    margin: 25px;

    .collapse  {
        margin :2px

    }

}
.bg-light {
    background-color: green;


    }
    
.col-md-5 {
    float: left;
}



