

body {
    background-color: rgb(231, 210, 243);
  
    background-size: cover;
    background-repeat: no-repeat;
    font-family: font-size: 20px;
    color: white;
}


 .container {
background-color: rgb(139, 115, 69) ;
background-image: url ("assets\images\1.jpg");
height: auto;
margin-top: 50px;
margin-bottom: 50px;
padding : 50px
 }

 .col-md {
     margin: 10rem, 5rem;
   
 }

/* 
.nav-item {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 100px;
}

.navbar-brand {
    background-color:red;
    font-size: 22px;
    font-weight: 777;
    padding: 1% 2%;
    margin: 5px;
    margin-left: 2px;
  }

   .navbarcolor {
      background-color: red;
  } 

#navbarNav {
    background-color: rgb(236, 217, 247);
    padding: .50%; */

}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100% ;
    font-style: italic;

}
footer {
    padding: 30px;
    clear: both; 
    background-color: red;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-align: center;
    font-size: 16px;
    color: black;
    /* sticky footer property added below */
    padding-top: 60px; 
    
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
  }

.fa-linkedin-square {
    background: #2867B2;
    color: white;
  }
  .fa-github-square {
    background: black;
    color: white;
  }
6:57
.fa-address-book-o{
    background: red;
    color: white;
  }
  .fa-git-square{
    background: black;
    color: white;
  }
}

.card {
    color:black;
    
}

/* .thiscard {
    width :  px;
    height : 25 px; */

}

.btn {
    background-color: rgb(76, 31, 104);
}
